.slick-slide>div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color: orange !important;
}

.designer {
  display: inline-block;
  background: #F7DFF5;
  padding: 5px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
  background-color: #d1e8ff;
  color: blue;
  margin: 0 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

@media (max-width: 768px) {
  .slick-slider {
    max-width: 90%;
  }

  .custom-height {
    height: 520px;
    margin-bottom: 50px;
  }
}