/* AnimatedCursorComponent.css */

.custom-cursor {
    position: fixed;
    width: 16px; /* Adjust the size as needed */
    height: 16px; /* Adjust the size as needed */
    background-color: #000;
    border: 2px solid #000;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.2s ease;
  }
  
  .custom-cursor.hidden {
    transform: scale(0);
  }
  